body {
    text-align: center;
    background-color: rgb(224, 240, 245);
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#username {
    padding: 10px;
    width: 250px;
    font-size: 16px;
    background-color: white;
}

#btn {
    padding: 10px 15px;
    font-size: 16px;
    width: 272px;
    cursor: pointer;
    background-color: rgb(77, 77, 178);
    color: white;
    border: none;
}
#btn:hover{
    background-color: rgb(62, 62, 142);
}

#profile-card {
    background-color: white;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    display: none;
    text-align: left;
}

#profile-card img {
    width: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px auto;
}

#profile-card h2 {
    text-align: center;
    margin: 10px 0;
}

#profile-card p {
    margin: 5px 0;
}

#status {
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
    color: #555;
}